NEXT_PUBLIC_CONTRACT_ADDRESS=0x061d4D3db6d4Ea0aB891D244740AEf08858Fe52A
NEXT_PUBLIC_CHAIN_ID=61999
NEXT_PUBLIC_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_EXPLORER_URL=https://explorer-studio.genlayer.com
